<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de estoque</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div th:replace="~{modules/header :: header}"></div>

        <h2>Lista de Materiais de Estoque</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Sigla</th>
                <th scope="col">Tipo de Material</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Unidade de Medida</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Adicionado Por</th>
                <th scope="col">Atualizado Por</th>
                <th scope="col">Adicionado Em</th>
                <th scope="col">Atualizado Em</th>
                <th scope="col">Ativo</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through your EstoqueDTO list and create table rows -->
            <tr th:each="estoque : ${estoqueList}">
                <td th:text="${estoque.sigla}"></td>
                <td th:text="${estoque.tipoMaterial}"></td>
                <td th:text="${estoque.nome}"></td>
                <td th:text="${estoque.descricao}"></td>
                <td th:text="${estoque.unidadeDeMedida}"></td>
                <td th:text="${estoque.quantidade}"></td>
                <td th:text="${estoque.adicionadoPor}"></td>
                <td th:text="${estoque.atualizadoPor}"></td>
                <td th:text="${estoque.adicionadoEm}"></td>
                <td th:text="${estoque.atualizadoEm}"></td>
                <td th:text="${estoque.ativo}"></td>
            </tr>
            <!-- End of loop -->
            </tbody>
        </table>
    </div>
    <div th:replace="~{modules/footer :: footer}"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/requisicao.js}"></script>
</body>
</html>