<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulário de Requisição</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<script th:inline="javascript">
		/*<![CDATA[*/
        var estoqueList = /*[[${estoqueList}]]*/ [];
        /*]]>*/
	</script>
</head>
<body>

	<div class="container mt-5">
		
		<div th:replace="~{modules/header :: header}"></div>
		
    <h2>Formulário de Requisição</h2>  	
    
    <form action="/" id="requisicaoForm" method="post">
		
		<div class="form-row mb-3">
			<div class="col"><label for="tipo">Tipo</label></div>
			<div class="col"><label for="receptor">Receptor</label></div>
			<div class="col"><label for="destino">Destino</label></div>
		</div>

		<div class="form-row mb-3">
			<div class="col">
				<select type="text" class="form-control" id="tipoRequisicaoSelect" name="tipoRequisicao" required>
					<option value="OBRA">Obra</option>
					<option value="MANUTENCAO">Manutenção</option>
					<option value="FERRAMENTAL">Ferramental</option>
					<option value="EPI">EPI</option>
					<option value="EPC">EPC</option>
				</select>
			</div>
			<div class="col"><input type="text" class="form-control" placeholder="Receptor" name="receptor" required></div>
			<div class="col"><input type="text" class="form-control" placeholder="Destino" name="destino" required></div>
			<input type="hidden" name="requisitante" value="Eu">
			<input type="hidden" name="status" value="PENDENTE">

		<div>

			<div class="form-row mb-3">
				<div class="col"><label for="sigla">Sigla</label></div>
				<div class="col"><label for="tipoMaterialSelect">Tipo</label></div>
				<div class="col"><label for="nome">Nome</label></div>
				<div class="col"><label for="descricao">Descricao</label></div>
				<div class="col"><label for="unidadeDeMedidaSelect">Unidade</label></div>
				<div class="col"><label for="quantidadeRequisitada">Quantidade</label></div>
				<div class="col"><label for="checkbox">Devolução:</label></div>
				<div class="col"><label for="quantidadeDevolvida">Devolvida</label></div>
			</div>

			<div class="form-row mb-3">
				<div class="col"><input class="form-control" placeholder="Sigla" id="sigla" type="text" name="materiais[0].sigla" required></div>
				<div class="col">
					<select type="text" class="form-control" id="tipoMaterialSelect" name="materiais[0].tipoMaterial" required>
						<option value="ELETRICO">Elétrico</option>
						<option value="CIVIL">Civil</option>
						<option value="HIDRAULICO">Hidráulico</option>
						<option value="VESTIMENTA">Vestimenta</option>
						<option value="EPI">EPI</option>
						<option value="EPC">EPC</option>
						<option value="FERRAMENTA">Ferramenta</option>
					</select>
				</div>
				<div class="col"><input type="text" class="form-control" placeholder="Nome" id="nome" name="materiais[0].nome" required></div>
				<div class="col"><input type="text" class="form-control" placeholder="Descrição" id="descricao" name="materiais[0].descricao" required></div>
				<div class="col">
					<select type="text" class="form-control" id="unidadeDeMedidaSelect" name="materiais[0].unidadeDeMedida" required>
						<option value="M">M</option>
						<option value="M2">M²</option>
						<option value="M3">M³</option>
						<option value="UND">UND</option>
					</select>
				</div>
				<div class="col"><input type="number" step="any" class="form-control" placeholder="Quantidade" id="quantidadeRequisitada" name="materiais[0].quantidadeRequisitada" ></div>
				<div class="col"><input type="checkbox" value="true" id="checkbox" name="materiais[0].devolucao"></div>
				<div class="col"><input type="number" step="any" class="form-control" placeholder="Quantidade" id="quantidadeDevolvida" name="materiais[0].quantidadeDevolvida"></div>
			</div>

		</div>
	  
      <div id="linhasExtra"></div>
      
      <button type="button" class="btn btn-light btn-outline-secondary" onclick="adicionarLinha()">Adicionar Linha</button>
      <button type="button" class="btn btn-light btn-outline-secondary" onclick="limparCampos()">Limpar</button>
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>

	</div>
	<div th:replace="~{modules/footer :: footer}"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	</head>
  	<script th:src="@{/js/requisicao.js}"></script>
</body>
</html>
