<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de Requisição</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<div class="container mt-5">
		
		<div th:replace="~{modules/header :: header}"></div>
		
    <h2>Formulário de Requisição</h2>  	
    
    <form th:action="@{/}" id="requisicaoForm" method="post" th:object="${requisicao}">
		<div id = "errosForm">
			<div th:each="error : *{#fields.errors()}">
			    <div class="error">
			        <span th:text="${error.toString()}"></span>
			    </div>
			</div>
			<div th:each="material, materialIndex : *{materiais}">
			    <div th:each="error : ${#fields.errors('materiais[' + materialIndex.index + ']')}">
			        <div class="error">
			            <span th:text="${error.toString()}"></span>
			        </div>
			    </div>
			</div>
		</div>
		
			<div class="form-row mb-3">
				<div class="col"><label for="tipo">Tipo</label></div>
				<div class="col"><label for="receptor">Receptor</label></div>
				<div class="col"><label for="destino">Destino</label></div>
		  	</div>
		  	
		  	<div class="form-row mb-3">
		        <div class="col">
					<select type="text" class="form-control" id="tipoRequisicaoSelect" name="tipoRequisicao" th:field="*{tipoRequisicao}" required>
			            <option value="OBRA">Obra</option>
			            <option value="MANUTENCAO">Manutenção</option>
			            <option value="FERRAMENTAL">Ferramental</option>
			            <option value="EPI">EPI</option>
			            <option value="EPC">EPC</option>
			        </select>
			    </div>
		    	<div class="col"><input type="text" class="form-control" placeholder="Receptor" name="receptor" th:field="*{receptor}" required></div>
				<div class="col"><input type="text" class="form-control" placeholder="Destino" name="destino" th:field="*{destino}" required></div>
				<input type="hidden" name="requisitante" value="Eu">
				<input type="hidden" name="status" value="PENDENTE">
	    
	  <div th:field="*{materiais}">
		  
		  <div class="form-row mb-3">
			<div class="col"><label for="sigla">Sigla</label></div>
			<div class="col"><label for="tipoMaterial">Tipo</label></div>
		    <div class="col"><label for="nome">Nome</label></div>
		    <div class="col"><label for="descricao">Descricao</label></div>
			<div class="col"><label for="unidadeDeMedida">Unidade</label></div>
			<div class="col"><label for="quantidadeRequisitada">Quantidade</label></div>
			<div class="col"><label for="checkbox">Devolução:</label></div>
			<div class="col"><label for="quantidadeDevolvida">Devolvida</label></div>
		  </div>  
		  
	      <div class="form-row mb-3">
	      	<div class="col"><input type="text" class="form-control" placeholder="Sigla" name="materiais[0].sigla" required></div>
	        <div class="col">
				<select type="text" class="form-control" id="tipoMaterialSelect" name="materiais[0].tipoMaterial" required>
		            <option value="ELETRICO">Elétrico</option>
		            <option value="CIVIL">Civil</option>
		            <option value="HIDRAULICO">Hidráulico</option>
		            <option value="VESTIMENTA">Vestimenta</option>
		            <option value="EPI">EPI</option>
		            <option value="EPC">EPC</option>
		            <option value="FERRAMENTA">Ferramenta</option>
		        </select>
		    </div>
	        <div class="col"><input type="text" class="form-control" placeholder="Nome" name="materiais[0].nome" required></div>
	        <div class="col"><input type="text" class="form-control" placeholder="Descrição" name="materiais[0].descricao" required></div>
	        <div class="col">
				<select type="text" class="form-control" id="unidadeDeMedidaSelect" name="materiais[0].unidadeDeMedida" required>
		            <option value="M">M</option>
		            <option value="M2">M²</option>
		            <option value="M3">M³</option>
		            <option value="UND">UND</option>
		        </select>
		    </div>
	        <div class="col"><input type="number" step="any" class="form-control" placeholder="Quantidade" name="materiais[0].quantidadeRequisitada" ></div>
	        <div class="col"><input type="checkbox" value="true" id="checkbox" name="materiais[0].devolucao"></div>
	        <div class="col"><input type="number" step="any" class="form-control" placeholder="Quantidade" name="materiais[0].quantidadeDevolvida"></div>
	      </div>
		  
	  </div>
	  
      <div id="linhasExtra"></div>
      
      <button type="button" class="btn btn-light btn-outline-secondary" onclick="adicionarLinha()">Adicionar Linha</button>
      <button type="button" class="btn btn-light btn-outline-secondary" onclick="limparCampos()">Limpar</button>
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>

	</div>
	<div th:replace="~{modules/footer :: footer}"></div>
  <!-- Adicione o link do Bootstrap JS e o jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script th:src="@{/js/requisicao.js}"></script>
</body>
</html>
